# ---------------------------------------------------------------------------
# CANIAS ERP veritabani baglanti ayarlari (Microsoft SQL Server)
# ---------------------------------------------------------------------------
# Trace dosyasindaki ortam: DB Server = CANIAS, Database = DEBAK
# Gercek degerleri kendi ortaminiza gore doldurun ve dosyayi .env olarak kaydedin.

CANIAS_DB_DRIVER=ODBC Driver 18 for SQL Server
CANIAS_DB_SERVER=CANIAS
CANIAS_DB_NAME=DEBAK
CANIAS_DB_USER=your_db_user
CANIAS_DB_PASSWORD=your_db_password
# TrustServerCertificate genelde sirket ici SQL Server icin gereklidir
CANIAS_DB_TRUST_CERT=yes
CANIAS_DB_ENCRYPT=no

# ---------------------------------------------------------------------------
# CANIAS uygulama/mantik sabitleri
# ---------------------------------------------------------------------------
# Trace'teki LOGIN INFORMATION bolumunden alindi:
#   Client = 00, Language = T, Company = 01, Plant = 01
CANIAS_CLIENT=00
CANIAS_LANGU=T
# Sirket/tesis personele gore otomatik bulunur; bulunamazsa bu varsayilanlar kullanilir
CANIAS_DEFAULT_COMPANY=01
CANIAS_DEFAULT_PLANT=01
# Sendika uyeligi bayragi (kidem disi izin hesabinda kullanilir). 0 = sendikasiz
CANIAS_SENDIKA=0
